.section3{
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 90px;
  background:  url("../../../../../public/images/section3/bg3.jpg")center;
}
.link3{
position: relative;
  top:-34px;
}